<div class='container' data-controller='posts'>
  <p id='notice'><%= notice %></p>

  <h1>LatinTweet</h1>
  <small>A CableReady &amp; StimulusReflex demo by Emmanuel Oseguera</small>

  <%= render 'form' %>

  <div id='timeline'>
    <%= render partial: 'post', collection: @posts %>
  </div>

</div>
