<div class='container' data-controller='posts'>
  <p id='notice'><%= notice %></p>

  <h1>Mensajitos</h1>
  <small>A CableReady &amp; StimulusReflex demo by Emmanuel Oseguera</small>
  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>

  <%= render 'form' %>

  <div id='timeline'>
    <%= render partial: 'post', collection: @posts %>
  </div>

</div>
